<!-- Footer -->
<footer class="py-6 text-center bg-slate-800">
    <div class="px-6 mx-auto text-sm max-w-7xl lg:px-8 text-slate-400">
        Thanks for stopping by.
      </div>
      <div class="px-6 mx-auto text-sm max-w-7xl lg:px-8 text-slate-400">
        {{ helpers.currentYear() }}
      </div>
</footer>