<!-- Hero Section -->
<section
      id="hero"
      data-gtm-section-view="Hero"
      class="flex items-center pt-20 pb-20 lg:pt-40 lg:pb-40 bg-slate-950">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
        <h1
          class="pb-12 text-5xl font-bold leading-tight text-center text-red-400 md:text-7xl lg:text-8xl">
          Alan McGinnis
        </h1>

        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div class="md:order-2">
                <picture>
                    <source media="(min-width: 481px)" srcset="https://res.cloudinary.com/dszumgqlp/image/upload/e_unsharp_mask:100/portfolio/profile-480w">
                    <img src="https://res.cloudinary.com/dszumgqlp/image/upload/e_unsharp_mask:100/portfolio/profile-480w" class="object-cover w-full mx-auto mb-4 rounded-md md:w-7/12" alt="Picture of Alan McGinnis">
                </picture>
            </div>

            <div class="md:order-1">
                <p>{{ resume.hero.intro }}</p>
            </div>
        </div>
    </div>
</section>